body, #sidebar {
    background-color: #383a4d;
    color: #777777;
}
  
h3, a.logo, a.selected, a.selected:hover, div.timer-container, span#typing-cursor {
    color: darkred;
}

a:link, a:visited, a:active {
    color: #777777;
}

span.typing-complete, a:hover {
    color: white;
}

span.typing-error {
    color: red;
    text-decoration: underline;
}