body {
    background-color: #363636;
    color: #777777;
}
  
h3, a.logo, a.selected, a.selected:hover, div.timer-container, span.typing-cursor {
    color: blue;
}

a:link, a:visited, a:active {
    color: #777777;
}

span.typing-complete, a:hover {
    color: white;
}

span.typing-error {
    color: red;
}